.row > div {

  height: 40px;
  border: 0px solid white;
  background-color: #669933;
  margin-bottom: 8px;
}


.zoom {
    padding: auto;
    background-color: #669933;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 20px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

